@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* MY ADDING */

.header, .footer {
  padding: .5rem;
}

.links {
  display: flex;
  gap: 1rem;
}

a {
  color: gray;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}

.button-text {
  padding: .25rem .5rem;
  font-weight: bold;
}

.buttons{
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}