body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
/* MY ADDING */

.header {
  display: flex;
}

.text-header {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  margin-left: 16px;
}

.emoji {
  display: inline-block;
  width: 36px;
}

.main-content {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 16px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #eee;
  font-size: 24px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  padding: 48px;
}

.card {
  display: flex;
  width: 400px;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  /* aggiungere il pin per fissarlo al fondo */
}
.text-footer{
  display: flex;
  align-items: center;
}